*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px solid rgb(184, 180, 180);
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: rgb(255, 255, 254);

}



.nav ul{
    align-items: center;
    display: flex;
    width: 80%;
    height: auto;
}

ul li{
    height: 100%;
    list-style: none;
    font-size: small;
    margin: 0.6rem;
}




ul li:hover{
    border-radius: 3px;
   
}
li a{
    text-decoration: none;
    color: black;
}

a img{
    width: 50px;
}





.text a{
    display: block;
    
}

.text:hover{
    background-color: rgb(245, 242, 242);
}

.list-1:hover{
    background-color: rgb(218, 213, 213);
}

.close{
    align-items: center;
    width: 30px;

}




.closefile{
    position: absolute;
    display: none;
    margin-top: -0.7rem;

}



.new-content {
    margin-top: 30px;
    width: 250px;
    position: absolute !important;
    overflow: scroll;
    z-index: 999;
    border-right: 0.5px solid rgb(240, 242, 243);
    border-left: 0.5px solid rgb(240, 242, 243);
    display: none;
    height: 90vh;
    background-color: white;
 
}

.new-content ul{
    margin-top: 1.3rem;
    display: block;
    width: 100%;
}

.new-content ul li{
    margin-top: 1rem;
   margin-left: -25px;
   width: 100%;
   justify-content: center;
   font-size: 14px;

}

.home{
    background-color: rgb(240, 242, 243);
}

.li-background:hover{
    background-color: rgb(240, 242, 243);
}




.add a{
    text-decoration: underline;
}



.form-control1{
    margin-left: auto;
    width: 55%;
  
    
}

form{
    width: 100%;

    
}

form input{
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 0.6px solid rgb(180, 176, 176);
}

input:focus{
   
    height: 40px;
    border: 1px solid blue;
}

.inputwithicon input{
    float: right;
    padding-left: 30px;
}



.search{
    position: absolute;
    margin-left: 6px;
    margin-top: 8px;
    color: rgb(148, 146, 146); ;
}

.btn{
    margin-bottom: 1rem;
    
}

@media (max-width: 767px){
    .btn button{
        display: none;
    }
}

.btn button{
    margin: 4px;
    
}



#login-btn{
    border: 1px solid blue;
    color: blue;

}
.btnmenu{
    margin-right: 8px;
}

.btnmenu button{
    width: 100%;
    border-radius: 6px;
}

.search-botton{
    position: absolute;
    display: none !important;
}



.btnorange{
    border: none;
    background-color: rgb(255, 83, 3);
    color: white;
    font-size: 12px;
}

.btntry{
    border: none;
    font-size: 12px;
}

.btntry:hover{
    border: 0.5px solid gray;
}



@media (max-width: 1266px){
    .nav ul{
        width: 80%;
    }

    .form-control1{
        margin-left: auto;
        width: 40%;
      
        
    }
}

@media (max-width: 957px){
    .form-control1{
        margin-left: auto;
        width: 20%;   
        
    }

    .nav ul{
        width: 75%;
    }
}

@media (max-width : 792px){
    .response{
        display: none;
    }

    .form-control1{
        margin-left: auto;
        width: 40%;   
        
    }

}

@media (max-width: 750px){
      .form-control1  {
        width: 20%;
      }

      .form-control1 form{
        margin-left: auto;
        width: 100%;   
        
    }

    .nav ul{
        width: 65%;
    }

    

    .btn{
        margin-left: auto;
    }

}

@media(max-width: 683px){
    .responsive-small{
        display: none;
       }

       .form-control1{
        
        width: 30%;
       
       }
}


@media (max-width: 650px){
       .form-control1{
        position: absolute;
        margin-top: 9rem;
        width: 100%;
        margin-left: -2rem;
        display: none;
       }

       

       .search-botton{
       margin-top: -1.1rem;
       margin-left: 7rem;
        display: block !important;
        
        
      
    }

    
}


