.divs-flex-contents{
    width: 100%;
    height: 140vh;
    margin-left: -3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.divs-flex-contents div{
    margin: 1rem;
    width: 20%;
    height: 20vh;
    border-radius: 10px;
    border: 0.1px solid rgb(73, 73, 73);
    
}

@media (max-width:1250px){

    .divs-flex-contents{
        width: 100%;
    }
    .divs-flex-contents div{
        height: 25vh;
    }
}

@media (max-width:1008px){
    .divs-flex-contents div{
        height: 35vh;
    }
}

@media (max-width:815px){
    .divs-flex-contents div{
        height: 45vh;
    }
}

@media (max-width:780px){
    .divs-flex-contents div{
        width: 70%;
        margin-left: 6.5rem;

    }

    .divs-flex-contents div p{
        padding: 3rem !important;
        margin-top: 2rem !important;

    }

    .divs-flex-contents{
        display: block;
        height: 260vh;
    }
}

.divs-flex-contents div p{
    font-size: 16px;
    margin-top: 3px;
    padding: 8px;
}



.divs-flex-contents div p b{
    color: blue;
    font-size: 17px;
}

.divs-flex-contents button{
    margin-top: -10px;
    
}

.container-row{
    margin-top: -55%;
    height: 90vh !important;
    width: 100% !important;
    margin-left: -1rem !important;
   
}

@media (max-width:1100px){
    #col-1{
        display: none;
    }

    .last-col{
        display: none;
    }

    .col6-z{
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width:770px){
    .col6-z{
        width: 100% !important;
    }
}

.row{
    margin: none !important;
   
    width: 100% !important;
}

 #img-col{
    width: 300px !important;
    margin-left: -5rem;
    margin-top: 3rem;
   
}

#text-row{
    margin-top: 0;
    font-size: 18px;
    color: rgb(153, 152, 152); 
}

.logos-social{
    width: 100%;
    height: 50vh;
}

.lg-slack{
    margin: 1rem;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: rgb(38, 228, 38);
}

.lg-micrsft{
    margin: 1rem;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: hsl(235.54deg 52.84% 55.1%);
}

.lg-git{
    margin: 1rem;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.lg-jira{
    margin: 1rem;
    color: rgb(66, 66, 247);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.lg-okta{
    margin: 1rem;
    color: rgb(66, 66, 247);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.col6-z{
    z-index: 3;

    
}

.logos-social p{
    font-size: 17px;
    color: rgb(94, 93, 93);
    margin-top: 3rem;
}

.col-img{
    width: 300px;
    margin-right: -9rem;
    margin-top: 4rem;
}

.last-col .lg-slac1{
    margin-top: -130%;
    margin-right: -10%;
}

.animate-divs-3{
    width: 100%;
   
    height: 30vh;
    margin-left: -3rem;
    display: flex;
    justify-content: center;
}

@media (max-width:788px){
    .animate-divs-3{
        width: 100%;
        height: 80vh !important;
        flex-wrap: wrap;
    }

    .animate-divs-3 div{
        margin: 1rem;
        width: 30% !important;
        height: 25vh;
        background-color: hsl(210deg 7.89% 85.1%);
        border-radius: 10px;
        z-index: 4;
        margin-top: 5.5rem;
        padding: 3px;
    }
}

#df{
    display: none;
}



.animate-divs-3 div{
    margin: 1rem;
    width: 20%;
    height: 25vh;
    background-color: hsl(210deg 7.89% 85.1%);
    border-radius: 10px;
    z-index: 4;
    margin-top: 5.5rem;
    padding: 3px;
}

.animate-divs-3 div p{
    color: black;
    font-size: 15px;
    margin-top: 8px;
    padding: 5px;

}

.animate-divs-3 div svg{
    margin-top: 1.5rem;
    color: hsl(232.2deg 56.18% 34.9%);
}
